<h1>Please enter a cent amount (99 or less)</h1>
<form action='/results'>
  <div class="form-group">
    <label for="coin">Cent amount</label>
    <input id="coin" name="coin" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Calculate!</button>
</form>
